<div class="header-placeholder">
  <header>
    <h1>SelfMade</h1>
    <ul class="header-list">
      <li><a href="/">Home</a></li>
      <li><a href="/About">About</a></li>
      <li><a href="/Contact">Contact</a></li>
    </ul>
  </header>
</div>
