<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="css/main.css">
</head>
<body>
    <h1>sign in</h1>
    <form action="/admin/login/panel" method="POST">
        <input type="text" placeholder="username" name="AdminUsername">
        <input type="text" placeholder="password" name="AdminPassword">
        <button type="submit">Sign in</button>
    </form>

</body>
</html>